doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

		link(rel='stylesheet' href='assets/css/style.css')

		block head_end

	body
		include partials/header

		main.page-content
			.page-content__inner
				block content

				include partials/sidebar

		include partials/footer

		include ../../partials/datepicker

		script(type='text/javascript' src='assets/js/libs/jquery-3.2.1.js')
		script(type='text/javascript' src='assets/js/vendors/highcharts.js')
		script(type='text/javascript' src='assets/js/vendors/highmaps/highmaps.js')
		script(type='text/javascript' src='assets/js/vendors/highmaps/highmaps.maps.data.js')
		script(type='text/javascript' src='assets/js/vendors/highmaps/highmaps.mapdata.world.js')
		script(type='text/javascript' src='assets/js/vendors/charts.js')
		script(type='text/javascript' src='assets/js/vendors/parsley.js')
		script(type='text/javascript' src='assets/js/vendors/jquery.mask.js')
		script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
		script(type='text/javascript' src='assets/js/vendors/password-strength.js')
		script(type='text/javascript' src='assets/js/vendors/jquery.selectric.js')
		script(type='text/javascript' src='assets/js/vendors/jquery.uploadfile.js')
		script(type='text/javascript' src='assets/js/vendors/video-js.js')
		script(type='text/javascript' src='assets/js/main.js')
		script(type='text/javascript').
				$(function () {
						commonActions.init();
				})

		block body_end