body {
  margin: 0;
  min-height: 100vh;
  font-size: $base-font-size;
  line-height: $lineHeight;
  font-family: $base-font-family;
  background: $bg-light-gray;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;

  &._red-link{
    color: $link-accent;
  }

  &:hover {
    text-decoration: none;
  }

}

hr {
  border: none;
  border-bottom: 1px solid $border-color-separator;
  margin: 0 0 30px;

}

ol {
  margin-bottom: $content-section-margin;
  list-style: decimal;
  padding-left: 38px;
  li {
    margin-bottom: 8px;
  }
}

._left-align {
  text-align: left;
}

// Sticky Footer
.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.icon-add {
  width: 34px;
  height: 34px;
  border: 2px solid $status-color;
  border-radius: $border-radius-round;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  position: relative;
  top: -2px;

  &::before,
  &::after {
    content: "";
    width: 14px;
    height: 2px;
    background: $status-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px 0 0 -7px;
  }
  &::after {
    transform: rotate(90deg);
  }
}