body {
  margin: 0;
  min-height: 100vh;
  font-size: $base-font-size;
  line-height: $lineHeight;
  font-family: $base-font-family;
  background: #f9f9fa;
}

* {
  box-sizing: border-box;
}

a {
  color: $link-color;
}

ol {
  margin-bottom: $content-section-margin;
  list-style: decimal;
  padding-left: 38px;
  li {
    margin-bottom: 8px;
  }
}

// Sticky Footer
.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page-content {
  flex: 1;
}