// Hacks and helper classes
.line-break {
  display: block;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.price-inline__dot-value {
  font-family: $base-font-family-light;
  font-size: 12px;
  &::before {
    content: ".";
    font-size: $base-font-size;
  }
}

.underline {
  text-decoration: underline;
}
