extends assets/jade/layouts/signing-in/index

block head_end
    link(rel='stylesheet' href='assets/css/style.css')

block content
    section.page-section
        .page-section__inner
            .section-title
                | Возможности

            .section-info
                p._align-center
                    | Личный кабинет – это очень удобный, простой и доступный способ получения
                    br
                    | информации о своем инвестиционном портфеле!

            img(src='assets/img/img_features.png' alt='')._img-features

            .section-info
                h3 Круглосуточно посредством Личного кабинета вы можете:

            .about-cabinet
                img(src='assets/img/img_features_chart.png' alt='').about-cabinet__img
                ul.about-cabinet__info
                    li.about-cabinet__info-item
                        span.about-cabinet__info-number 01
                        | Посмотреть актуальную информацию не только по агрегированному портфелю, но и отдельно по Паевым фондам, Фолио и Доверительному управлению, а также стоимость, динамику и структуру активов на текущую дату или за определенный период.
                    li.about-cabinet__info-item
                        span.about-cabinet__info-number 02
                        | Анализировать собственный портфель по географическому, отраслевому, валютному, эмитентному и другим признакам.
                    li.about-cabinet__info-item
                        span.about-cabinet__info-number 03
                        | Просматривать историю операций по любому продукту за любой период.
                    li.about-cabinet__info-item
                        span.about-cabinet__info-number 04
                        | Получать различные виды отчетности – как регламентированные стандартные, так и заказные.
                    li.about-cabinet__info-item
                        span.about-cabinet__info-number 05
                        | Возможность оперативно связаться с инвестиционным консультантом, а также получать важные сообщения в Личном кабинете.



            .gray-note
                | АО УК «Ингосстрах-Инвестиции». Лицензия ФКЦБ России № 21-000-1-00020 от 25.08.1997 г. на осуществление деятельности
                | по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами,
                | без ограничения срока действия. Лицензия ФСФР России № 077-08203-001000 от 23.12.2004 г. на осуществление деятельности
                | по доверительному управлению ценными бумагами без ограничения срока действия. Раздел Демо-Пиф предназначен для оценки возможной эффективности инвестиций в паевые инвестиционные фонды, вероятность которых рассматривается конкретным инвестором. Операции, осуществляемые инвестором с помощью сервиса «Демо-Пиф», не влекут каких-либо юридических последствий как для инвестора, так и для АО УК «Ингосстрах – Инвестиции». Никакие действия, осуществляемые пользователем
                | в разделе Демо-Пифы не будут иметь своим результатом приобретение, погашение или обмен инвестиционных паев ПИФов
                | под управлением АО УК «Ингосстрах – Инвестиции» или какой-либо другой управляющей компании.

block body_end
    script(type='text/javascript' src='assets/js/vendors/parsley.js')
    script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
    script(type='text/javascript' src='assets/js/main.js')
    script(type='text/javascript').
        $(function () {
            commonActions.init();
        })