extends assets/jade/layouts/signing-in/index

block head_end
	link(rel='stylesheet' href='assets/css/style.css')

block content
	section.page-section
		.page-section__inner
			.section-title
				| Как подключить?

			img(src='assets/img/img_autorization.jpg' alt='').section-img

			.section-info
				h3 Регистрация в системе

				p Для регистрации в системе клиенту коллективных инвестиций (владельцу паёв ПИФ) необходимо лично обратиться в отделение Управляющей компании или его агента.

				p Для регистрации Вам необходимо предъявить инвестиционному консультанту документ, удостоверяющий личность.

				p Клиентам индивидуального доверительного управления для получения логина и пароля необходимо обратиться к своему персональному финансовому консультанту.

				p Подробную информацию о процедуре регистрации в Личном кабинете Вы можете получить у оператора Контактного Центра Управляющей компании.

			.section-info
				h3 Ограничения и сроки получения доступа к данным

				p Клиентам, которые на момент регистрации в Личном кабинете имеют ненулевой остаток хотя бы по одному ПИФ или хотя бы по одной стратегии индивидуального доверительного управления Управляющей компании, доступ к данным предоставляется по завершении процедуры идентификации учетной записи клиента. Как правило, идентификация клиентов ПИФ осуществляется в момент регистрации клиента в системе, идентификация клиентов индивидуального доверительного управления осуществляется в течение 1 рабочего дня с момента подачи запроса на регистрацию.

				p Клиентам, которые осуществляют регистрацию в Личном кабинете одновременно с подачей первой заявки на приобретение паев фондов Управляющей компании, доступ к данным предоставляется после завершения обработки первой операции покупки паев. Как правило, обработка завершается через 2 (два) рабочих дня после регистрации покупки паев в реестре.

				p Клиентам, которые осуществляют регистрацию в Личном кабинете одновременно с заключением договора доверительного управления, доступ к данным предоставляется после завершения обработки договора в Управляющей компании.

				p В случае утраты логина или пароля настоятельно рекомендуем Вам заблокировать доступ в Личный кабинет под Вашими учетными данными. Заблокировать доступ можно следующими способами:

				ul.list
					li Обратившись в колл-центр Управляющей компании. Для блокировки доступа Вам будет необходимо назвать фамилию, имя, отчество, а также серию и номер документа, удостоверяющего личность.

					li Обратившись лично к инвестиционному консультанту в отделение Управляющей компании или его агента. Для блокировки доступа Вам будет необходимо предъявить документ, удостоверяющий личность.

					li Обратившись к персональному финансовому консультанту (для клиентов индивидуального доверительного управления).

				p Для снятия блокировки доступа к данным необходимо пройти процедуру восстановления пароля.

			.section-info
				h3 Восстановление пароля

				p Если Вы забыли пароль доступа в Личный кабинет, Вам необходимо обратиться к инвестиционному консультанту в отделение Управляющей компании или его агента для восстановления пароля.

				p При личном обращении для восстановления пароля Вам необходимо предъявить документ, удостоверяющий личность.

				p Альтернативой поездке в офис Управляющей компании может стать получение пароля по электронной почте. Для этого Вы должны ЗАРАНЕЕ подтвердить возможность такого способа получения нового пароля в разделе Настройки, рекомендуем включить этот параметр при первом входе в Личный кабинет.

				p Клиенты индивидуального доверительного управления могут пройти процедуру восстановления пароля, обратившись к персональному финансовому консультанту.

			.gray-note
				| АО УК «Ингосстрах-Инвестиции». Лицензия ФКЦБ России № 21-000-1-00020 от 25.08.1997 г. на осуществление деятельности
				| по управлению инвестиционными фондами, паевыми инвестиционными фондами и негосударственными пенсионными фондами,
				| без ограничения срока действия. Лицензия ФСФР России № 077-08203-001000 от 23.12.2004 г. на осуществление деятельности
				| по доверительному управлению ценными бумагами без ограничения срока действия. Раздел Демо-Пиф предназначен для оценки возможной эффективности инвестиций в паевые инвестиционные фонды, вероятность которых рассматривается конкретным инвестором. Операции, осуществляемые инвестором с помощью сервиса «Демо-Пиф», не влекут каких-либо юридических последствий как для инвестора, так и для АО УК «Ингосстрах – Инвестиции». Никакие действия, осуществляемые пользователем
				| в разделе Демо-Пифы не будут иметь своим результатом приобретение, погашение или обмен инвестиционных паев ПИФов
				| под управлением АО УК «Ингосстрах – Инвестиции» или какой-либо другой управляющей компании.

block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})