extends assets/jade/layouts/global/index

block content
	.main-content-area
		.tabs
			.tabs__nav
				a(href='#geography').tabs__nav-item.is-active
					| География

				a(href='#industry').tabs__nav-item
					| Отрасли

				a(href='#asset-classes').tabs__nav-item
					| Классы активов

				a(href='#issuers').tabs__nav-item
					| Эмитеты

				a(href='#currency').tabs__nav-item
					| Валюта

		.tab-container.is-visible#geography
			.tab-container__section-inner
				.section-title Диверсификация портфеля по географии

				.section-subtitle На карте показано географическое распределение ценных бумаг (производных финансовых инструментов) изменение рыночной ценности которых, оказывает влияние на стоимость Вашего портфеля.

		.tab-container#industry
			.tab-container__section-inner
				.section-title Диверсификация портфеля по отраслям

		.tab-container#asset-classes
			.tab-container__section-inner
				.section-title Диверсификация портфеля по классам активов

		.tab-container#issuers
			.tab-container__section-inner
				.section-title Диверсификация портфеля по эмитентам

				.section-subtitle
					| На графике показаны 10 наиболее крупных по объему позиций.
					br
					| Объем позиции указан в выбранной вами валюте.


		.tab-container#currency
			.tab-container__section-inner
				.section-title Диверсификация портфеля по валютам

				.section-subtitle
					| На графике показан Ваш портфель в разрезе валют открытых позиций.
					br
					| Суммы приведены к выбранной Вами валюте.


		include assets/jade/partials/cards-list