extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			include assets/jade/partials/filter-panel

			.section-title._b-indent Динамика портфеля

			.title График доходности. Динамика портфеля с учетом вводов и выводов

			.chart-container#trust-managment-portfolio-dynamics


			.table-heading
				.table-heading__title
					.title
						| Доходность рублевой части портфеля (RUB)

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			.table-wrapper
				include assets/jade/partials/tables/management-yeld-of-currency-part-rub

			.download-area._large-indent
				include assets/jade/partials/download-file

			.table-heading
				.table-heading__title
					.title
						| Информация о пришедших купонах, RUB

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			.table-wrapper
				include assets/jade/partials/tables/unit-trust-coupons-rub

			.download-area._large-indent
				include assets/jade/partials/download-file


			.table-heading
				.table-heading__title
					.title
						| Следующие купонные выплаты

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			.table-wrapper
				include assets/jade/partials/tables/unit-trust-coupons-payment-further

			.download-area
				include assets/jade/partials/download-file

		include assets/jade/partials/cards-list