extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section

			include assets/jade/partials/filter-with-data-panel

			.section-title
				| Информация по сделкам

			.table-heading
				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			.table-wrapper
				include assets/jade/partials/tables/management-dealings

			.download-area
				include assets/jade/partials/download-file

		include assets/jade/partials/cards-list