extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-title Документы по ДУ

			.links-list
				.links-list__item
					.action-link.action-link--folder
						| 2017

				.links-list__item
					.action-link.action-link--folder
						| 2016

				.links-list__item
					.action-link.action-link--folder
						| 2015

				.links-list__item
					.action-link.action-link--folder
						| 2014

		include assets/jade/partials/cards-list