extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			include assets/jade/partials/filter-panel

			.section-title Информация о вводах и выводах

			.table-heading
				.table-heading__title

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			include assets/jade/partials/tables/management-inputs-outputs