extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-title
				| Доверительное управление

			.section-subtitle
				| Сергей Алекссевич, к сожалению, на данный момент у вас отстутсвует доверительное управление. Для того, чтобы заключить договор ДУ, вам необходимо:

			.cards-list.cards-list--ordering-steps
				.cards-list__item
					.card
						.card__icon.card__icon--browse

						.card__caption
							a(href='#') Выбрать стратегию
							| &nbsp;на сайте АО&nbsp;УК&nbsp;«Ингосстрах&nbsp;Инвестиции»

				.cards-list__item
					.card
						.card__icon.card__icon--ordering

						.card__caption
							| Или оформить заключить договор Доверительного управления, в любом удобном для вас&nbsp;
							a(href='#')
								| офисе

			include assets/jade/partials/detailed-info

			include assets/jade/partials/advantages