extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-title
				| Доверительное управление

			.section-subtitle
				| Сергей Алекссевич, к сожалению, на данный момент у вас отстутсвует доверительное управление. Для того, чтобы заключить договор ДУ, вам необходимо:

			.cards-list
				.cards-list__item
					.card
						.card__icon

						.card__caption
							a(href='#') Выбрать стратегию
							| &nbsp;на сайте АО УК "Ингосстрах Инвестиции"

				.cards-list__item
					.card
						.card__icon

						.card__caption
							| Заключить договор Доверительного управления в любом удобном для вас&nbsp;
							a(href='#')
								| Офисе

				include assets/jade/partials/get-detailed-info

		.main-content-section
			include assets/jade/partials/cards-list


block body_end
	script(type='text/javascript' src='assets/js/vendors/parsley.js')
	script(type='text/javascript' src='assets/js/vendors/bootstrap-modal.js')
	script(type='text/javascript' src='assets/js/main.js')
	script(type='text/javascript').
		$(function(){
			commonActions.init();
		})