extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			include assets/jade/partials/filter-panel

			.section-title
				| Доверительное управление

			.table-heading
				.table-heading__title
					.title
						| Информация о пришедших купонах, RUB

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			include assets/jade/partials/tables/management-comissions


		include assets/jade/partials/cards-list