extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-header
				.section-header__column
					.section-title Медиа

				.section-header__column._with-select
					form.form-years-archive-filter
						.select-title Архив по годам:

						.select-with-title
							select
								option 2016
								option 2015
								option 2014
								option 2013

			.media-list
				.media-list__item
					.media-preview
						video(preload='auto', width='386', height='219', poster='assets/img/video_preload.jpg', data-setup='{}', controls ).vjs-default-skin.video-js
							source(src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4')
							source(src='https://vjs.zencdn.net/v/oceans.webm' type='video/webm')
							p.vjs-no-js
								| To view this video please enable JavaScript, and consider upgrading to a web browser that
								a(href='http://videojs.com/html5-video-support/' target='_blank')
									| supports HTML5 video
						.media-preview__caption
							| Личные финансы с Натальей Смирновой. Выпуск 18.
							span.line-break
								| Паевый инвестиционный фонд (ПИФ)

				.media-list__item
					.media-preview
						video(preload='auto', width='386', height='219', poster='assets/img/video_preload.jpg', data-setup='{}', controls ).vjs-default-skin.video-js
							source(src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4')
							source(src='https://vjs.zencdn.net/v/oceans.webm' type='video/webm')
							p.vjs-no-js
								| To view this video please enable JavaScript, and consider upgrading to a web browser that
								a(href='http://videojs.com/html5-video-support/' target='_blank')
									| supports HTML5 video
						.media-preview__caption
							| Личные финансы с Натальей Смирновой. Выпуск 18.
							span.line-break
								| Паевый инвестиционный фонд (ПИФ)

				.media-list__item
					.media-preview
						video(preload='auto', width='386', height='219', poster='assets/img/video_preload.jpg', data-setup='{}', controls ).vjs-default-skin.video-js
							source(src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4')
							source(src='https://vjs.zencdn.net/v/oceans.webm' type='video/webm')
							p.vjs-no-js
								| To view this video please enable JavaScript, and consider upgrading to a web browser that
								a(href='http://videojs.com/html5-video-support/' target='_blank')
									| supports HTML5 video
						.media-preview__caption
							| Личные финансы с Натальей Смирновой. Выпуск 18.
							span.line-break
								| Паевый инвестиционный фонд (ПИФ)

				.media-list__item
					.media-preview
						video(width='386', height='219', poster='assets/img/video_preload.jpg', data-setup='{}', controls ).vjs-default-skin.video-js
							source(src='https://vjs.zencdn.net/v/oceans.mp4' type='video/mp4')
							source(src='https://vjs.zencdn.net/v/oceans.webm' type='video/webm')
							p.vjs-no-js
								| To view this video please enable JavaScript, and consider upgrading to a web browser that
								a(href='http://videojs.com/html5-video-support/' target='_blank')
									| supports HTML5 video
						.media-preview__caption
							| Личные финансы с Натальей Смирновой. Выпуск 18.
							span.line-break
								| Паевый инвестиционный фонд (ПИФ)

		include assets/jade/partials/cards-list