extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section.purchase-container
			.section-title
				| Открытие индивидуального инвестиционного счета

			include assets/jade/partials/tables/iis-opening-strategy-data

			hr

			form.iis-opening-agreement
				.form-row
					| Продолжая оформление заявки о присоединении к договору доверительного управления, Вы подтверждаете
					| достоверность и актуальность сведений, указанных о Вас.

				.form-row._large-indent
					.form-list
						.form-list__item
							input(type='checkbox' id='form-iis-opning-agreement-1')

							label(for='form-iis-opning-agreement-1')
								| Подтверждаю, что ознакомлен с&nbsp;
								a(href='#')
									| условиями доверительного управления ценными бумагами с открытием и ведением индивидуального инвестиционного счета.

						.form-list__item
							input(type='checkbox' id='form-iis-opning-agreement-2')

							label(for='form-iis-opning-agreement-2')
								| Подтверждаю достоверность предоставленных данных и подтверждаю свое желание заключить договор ДУ на открытие ИИС.

				hr

				.form-row._align-center.js-phone-code-container
					.form-row--get-phone-code
						p._b-indent Для завершения процедуры подачи заявки на Ваш телефон будет отправлен подтверждающий код, который необходимо ввести ниже:

						.btn-secondary.js-show-sms-verification Получить код

					.form-row--sms-verification-container
						include assets/jade/partials/forms/sms-verification

		include assets/jade/partials/cards-list