extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-title
				| Открытие индивидуального инвестиционного счета

			.opening-bill-missing-data
				p.opening-bill-missing-data__title
					| Уважаемый Сергей Алексеевич, для приобретения ИИС по договору ДУ, нам не достет некоторых данных:

				ol
					li Идентефикационный номер налогоплательщика;

					li Справка 2 НДФЛ.

				p Пожалуйста внесите данную информацию в&nbsp;
					a(href='#')
						| личном кабинете
					| .