extends assets/jade/layouts/global/index_highstock

block content
	.main-content-area
		.main-content-section.purchase-container
			.section-title
				| Открытие индивидуального инвестиционного счета

			form.form-strategy-planning.js-form-validate
				.form-row.form-row--risks
					.accordion-panel
						.accordion-panel__heading.js-toggle-next-el
							.title Сбалансированная стратегия. Оценка исторических данных

							p Рекомендованная Вам стратегия с учетом Вашей склонности к риску, инвестиционных целей, а также всевозможных планов и сроков по выводу размещаемых средств — Сбалансированная.

						.accordion-panel__body._no-paddings
							.chart-container._height-auto#history-chart

				.form-row._large-indent.form-row--contains-selects
					.form-fieldset
						.form-row
							label(for='fsp-strategy-select').form-row__title Выберите стратегию:

							select#fsp-strategy-select
								option Сбалансированная

								option Обычная

						.form-row
							.form-row__title Укажите сумму (руб.):

							input(type='number'
							min='0'
							required
							data-parsley-required-message='Это поле нужно заполнить').form-control._number

					.form-fieldset
						p Рекомендовано при инвестировании от 250 000&nbsp;руб. в&nbsp;год. При использовании данной стратегии, лучше воспользоваться освобождением от налога на полученный доход.

						p.form-outgoing-link
							a(href='#')._red-link Подробнее о стратегиях

				.form-row._large-indent
					.form-list
						.form-list__item
							input(type='radio' checked='checked' name='iia-opening-agreement-status' id='iia-opening-agreement-status-1')

							label(for='iia-opening-agreement-status-1')
								| На дату подачи настоящего заяления у меня отстутствует договор с другим профессиональным участником рынка ценных бумаг на ведение индивидуального инвестиционного счета.

						.form-list__item
							input(type='radio' name='iia-opening-agreement-status' id='iia-opening-agreement-status-2')

							label(for='iia-opening-agreement-status-2')
								| На дату подачи настоящего заявления у меня действует договор на ведение индивидуального инвестиционного счета.

				.form-row
					input(type='submit' value='Далее').form-submit._large