extends assets/jade/layouts/global/index

block content
	.main-content-area
		.tabs
			.tabs__nav
				a(href='#briefcase').tabs__nav-item.is-active
					| Общий портфель

				a(href='#briefcase_111').tabs__nav-item
					| Портфель по договору №111

				a(href='#briefcase_112').tabs__nav-item
					| Портфель по договору №112

		.tab-container.is-visible#briefcase
			.tab-container__section-inner
				.section-header
					.section-header__column
						| Дата оценки

					.section-header__column
						.period-range
							.data-range-input
								.data-range-input__value
									| 1 октября 2016

								.data-range-input__icon.js-show-datepicker
									
				.section-title._sm-b-indent Информация о движении денежных средств

				.table-heading
					.table-heading__actions
						.fullscreen-link
							| таблицу на весь экран

				.table-wrapper
					include assets/jade/partials/tables/flow-of-funds

				.download-area
					include assets/jade/partials/download-file

		.tab-container#briefcase_111
			.tab-container__section-inner

		.tab-container#briefcase_112
			.tab-container__section-inner




		include assets/jade/partials/cards-list