extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.table-heading
				.table-heading__title
					.title

				.table-heading__actions
					.fullscreen-link
						| таблицу на весь экран

			//include assets/jade/partials/tables/unit-trust-bids

block body_end
	script(type="text/javascript" src="assets/js/script.js")