extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.main-content-section__info
				.section-title
					| Демо-ПИФ

				p «Демо-ПИФ» — это виртуальный сервис, позволяющий смоделировать финансовый результат от операций с паями
					|ПИФ-ов под управлением АО УК «Ингосстрах–Инвестиции», без осуществления реального приобретения и погашения паев.

				p Пользователь «Демо-ПИФ» покупает и продает не реальные, а виртуальные паи и, соответственно, прибыль или убыток
					|пайщик получает в виртуальных деньгах. С «Демо-ПИФами»
					|можно проводить в личном кабинете все операции кроме обмена паев между фондами.

				p «Демо-ПИФ» прекрасно подходит как для начинающих пайщиков, так и для опытных инвесторов.

				p.accent-note Начать тренировки с 300 000 виртуальных рублей на счету.

				p
					a(href='#').btn-primary Открыть виртуальный счет
				img(src='assets/img/img-unit-trust-demo-step-1.png' alt='' width='256' height='434')

			.main-content-section__aside-right
				img(src='' alt='')

		include assets/jade/partials/cards-list