extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.section-title
				| Паевые инвестиционные фонды

			.section-subtitle
				| Сергей Алекссевич, к сожалению, на данный момент у вас отсутствуют паи фондов. Для того, чтобы начать инвестировать, вам необходимо:

			.cards-list.cards-list--ordering-steps
				.cards-list__item
					.card
						.card__icon.card__icon--browse

						.card__caption
							a(href='#') Выбрать фонд
							| &nbsp;на сайте АО&nbsp;УК&nbsp;«Ингосстрах&nbsp;Инвестиции»

				.cards-list__item
					.card
						.card__icon.card__icon--ordering

						.card__caption
							| Или оформить завяку, в&nbsp;любом&nbsp;удобном&nbsp;для&nbsp;вас&nbsp;
							a(href='#')
								| офисе

			include assets/jade/partials/detailed-info

			include assets/jade/partials/advantages