extends assets/jade/layouts/global/index

block content
	.main-content-area
		.main-content-section
			.main-content-section__info
				.section-title
					| Демо-ПИФ

				p «Демо-ПИФ» &mdash; это виртуальный сервис, позволяющий

				p.accent-note Начать тренировки с 300 000 виртуальных рублей на счету.

				p
					a(href='#').btn-primary Открыть виртуальный счет

			.main-content-section__aside-right
				img(src='' alt='')

block body_end
	script(type="text/javascript" src="assets/js/script.js")