.advantages
	.advantages__title Преимущества

	.advantages-list
		.advantages-list__item
			.advantage
				.advantage__header
					.advantage__icon
						img(src='assets/img/icon-advantages-4.png' width='42' height='42' alt='')

					.advantage__title Доступность

				.advantage__caption При минимальной сумме от 5 тысяч рублей вы можете инвестировать свои средства как в российские, так и в зарубежные активы.

		.advantages-list__item
			.advantage
				.advantage__header
					.advantage__icon
						img(src='assets/img/icon-advantages-3.png' width='42' height='42' alt='')

					.advantage__title Надежность

				.advantage__caption Деятельность управляющей компании контролируется специализированным депозитарием, аудитором и&nbsp;ЦБ&nbsp;РФ.

		.advantages-list__item
			.advantage
				.advantage__header
					.advantage__icon
						img(src='assets/img/icon-advantages-2.png' width='42' height='42' alt='')

					.advantage__title Профессионализм

				.advantage__caption Вы доверяете капитал профессиональным управляющим с многолетним опытом работы на финансовых рынках.

		.advantages-list__item
			.advantage
				.advantage__header
					.advantage__icon
						img(src='assets/img/icon-advantages-1.png' width='42' height='42' alt='')

					.advantage__title Льготы

				.advantage__caption При владении инвестиционными паями более трех лет пайщик освобождается от уплаты налога с части