
.sliding-menu
	.sliding-menu__item
		.sliding-menu__item-title.js-sliding-menu-title
			| Портфель

			.sliding-menu__item-number
				| № 134384/20845-1

		.sliding-menu__list
			.sliding-menu__list-item.is-active
				a(href='#').sliding-menu__list-link
					| Оценка портфеля

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Анализ портфеля

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| История

	.sliding-menu__item
		.sliding-menu__item-title.js-sliding-menu-title
			| ПИФы

		.sliding-menu__list
			.sliding-menu__list-item.is-active
				a(href='#').sliding-menu__list-link
					| Инвестиционный портфель ПИФ

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Заявки на приобретение

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Сводный отчёт

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Документы по ПИФ

	.sliding-menu__item
		.sliding-menu__item-title.js-sliding-menu-title
			| ДУ

		.sliding-menu__list
			.sliding-menu__list-item.is-active
				a(href='#').sliding-menu__list-link
					| Инвестиционный портфель ДУ

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация о движении денежных средств

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация о начисленных комиссиях

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация по сделкам

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Документы по ДУ

	.sliding-menu__item
		.sliding-menu__item-title.js-sliding-menu-title
			| ИИС

		.sliding-menu__list
			.sliding-menu__list-item.is-active
				a(href='#').sliding-menu__list-link
					| Портфель ИИС

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация о движении денежных средств

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация о начисленных комиссиях

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Информация по сделкам

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Документы по ИИС

			.sliding-menu__list-item
				a(href='#').sliding-menu__list-link
					| Расторгнуть договор ИИС

