.cards-list.cards-list--call-to-action
	.cards-list__item
		.card
			.card__icon.card__icon--investment-fund

			.card__caption
				| Паевые Инвестиционные&nbsp;Фонды

			.card__footer
				a(href='#') Купить сейчас

	.cards-list__item
		.card
			.card__icon.card__icon--trust-management

			.card__caption
				| Доверительное
				span.line-break
				| Управление

			.card__footer
				a(href='#') Купить сейчас


	.cards-list__item
		.card
			.card__icon.card__icon--investment-accs

			.card__caption
				| Индивидуальные Инвестиционные Счета

			.card__footer
				a(href='#') Купить сейчас