.datepicker.js-datepicker
	.datepicker__date-start
		| Четверг. 1 сентября  2016
	.datepicker__date-end
		| Пятница. 30 сентября  2016
	.datepicker__container
		.datepicker__mounth-container
			.datepicker__mounth-prev
				.datepicker__mounth-btn
			.datepicker__mounth-current
				| Сентябрь 2016
			.datepicker__mounth-next
				.datepicker__mounth-btn
		.datepicker__date-container
			.datepicker__week-days
				.datepicker__week-day
					| Пн
				.datepicker__week-day
					| Вт
				.datepicker__week-day
					| Ср
				.datepicker__week-day
					| Чт
				.datepicker__week-day
					| Пт
				.datepicker__week-day
					| Сб
				.datepicker__week-day
					| Вс
			.datepicker__days
				.datepicker__days-row
					.datepicker__day
					.datepicker__day
					.datepicker__day
					.datepicker__day
						span.datepicker__day-info._start 1
					.datepicker__day
						span.datepicker__day-info 2
					.datepicker__day
						span.datepicker__day-info 3
					.datepicker__day
						span.datepicker__day-info 4
				.datepicker__days-row
					.datepicker__day
						span.datepicker__day-info 5
					.datepicker__day
						span.datepicker__day-info 6
					.datepicker__day
						span.datepicker__day-info 7
					.datepicker__day
						span.datepicker__day-info 8
					.datepicker__day
						span.datepicker__day-info 9
					.datepicker__day
						span.datepicker__day-info 10
					.datepicker__day
						span.datepicker__day-info 11
				.datepicker__days-row
					.datepicker__day
						span.datepicker__day-info 12
					.datepicker__day
						span.datepicker__day-info 13
					.datepicker__day
						span.datepicker__day-info 14
					.datepicker__day
						span.datepicker__day-info 15
					.datepicker__day
						span.datepicker__day-info 16
					.datepicker__day
						span.datepicker__day-info 17
					.datepicker__day
						span.datepicker__day-info 18
				.datepicker__days-row
					.datepicker__day
						span.datepicker__day-info 19
					.datepicker__day
						span.datepicker__day-info 20
					.datepicker__day
						span.datepicker__day-info 21
					.datepicker__day
						span.datepicker__day-info 22
					.datepicker__day
						span.datepicker__day-info 23
					.datepicker__day
						span.datepicker__day-info 24
					.datepicker__day
						span.datepicker__day-info 25
				.datepicker__days-row
					.datepicker__day
						span.datepicker__day-info 26
					.datepicker__day
						span.datepicker__day-info 27
					.datepicker__day
						span.datepicker__day-info 28
					.datepicker__day
						span.datepicker__day-info 29
					.datepicker__day
						span.datepicker__day-info 30
					.datepicker__day
						span.datepicker__day-info._end 31
					.datepicker__day

		.datepicker__buttons-container
			a(href='#').btn-primary.btn-sm._large Выбрать
