.download-file-list
	.download-file-list__item
		span.action-link.action-link--get-pdf
			| Скачать в PDF формате

	.download-file-list__item
		span.action-link.action-link--get-excel
			| Скачать в формате Excel

