.filter
	.filter__column
		.period-range
			.period-range__title Период

			.period-range__input
				.data-range-input
					.data-range-input__value
						| 1 сентября 2016
						| -
						| 31 сентября 2016

					.data-range-input__icon

	.filter__column
		.switcher-panel
			a(href='#').switcher-panel__item
				| День

			a(href='#').switcher-panel__item.is-active
				| Неделя

			a(href='#').switcher-panel__item
				| Месяц

			a(href='#').switcher-panel__item
				| Квартал

			a(href='#').switcher-panel__item
				| Год