.links-list
	.links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Соглашение об использовании личных данных
			| &nbsp;
			a(href='#').link-download скачать

	.links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Заявление на компплексное обслуживание на рынке ценных бумаг
			| &nbsp;
			a(href='#').link-download скачать

	.links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Форма W-8BEN
			| &nbsp;
			a(href='#').link-download скачать

	.links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Соглашение о защите инвестиций
			| &nbsp;
			a(href='#').link-download скачать

