.icon-links-list
	.icon-links-list__item
		span.action-link.action-link--get-pdf
			| Соглашение об использовании личных данных

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			| Заявление на компплексное обслуживание на рынке ценных бумаг

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			| Форма W-8BEN

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			| Соглашение о защите инвестиций

