.icon-links-list
	.icon-links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Соглашение об использовании личных данных

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Заявление на компплексное обслуживание на рынке ценных бумаг

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Форма W-8BEN

	.icon-links-list__item
		span.action-link.action-link--get-pdf
			a(href='#')
				| Соглашение о защите инвестиций

