.header-row
	.header-row__inner
		.header__logo
			.brand-logo
				img(src='assets/img/logo.png' width='100' height='75' alt='ИНГОССТРАХ Инвестиции')

		.header__navigation
			.header-nav
				.header-nav__item
					a(href="#").header-nav__link
						| Возможности

				.header-nav__item
					a(href="#").header-nav__link
						| Соглашения

				.header-nav__item.is-active
					a(href="#").header-nav__link
						| Подключить

		.header__feedback
			.feedback
				.feedback__number 8 800 100-48-98

				.feedback__link
					a(href="#") Заказать звонок

