header.page-header
	.header-row
		.header-row__inner
			.header__logo
				.brand-logo
					img(src='assets/img/svg/brand-logo.svg' width='100' height='75' alt='ИНГОССТРАХ Инвестиции')

			.header__greeting
				.header-greeting
					| Добрый день,&nbsp;
					span#header-greering-username.line-break
						| Сергей Алексеевич!

			.header__profile-menu
				.profile-menu
					a(href='#').profile-menu__link.profile-menu__link--media
						| Медиа

					.profile-menu__separator

					a(href='#').profile-menu__link.profile-menu__link--faq
						| FAQ

					.profile-menu__separator

					a(href='#').profile-menu__link.profile-menu__link--chat
						| Онлайн-чат&nbsp;
						span.line-break
							| с&nbsp;менеджером

					.profile-menu__separator

					a(href='#' data-notifications-counter='3').profile-menu__link.profile-menu__link--notifications
						| Уведомления

					.profile-menu__separator

					span.is-active.profile-menu__link.profile-menu__link--settings
						a(href='#')
							| Профиль
							span.line-break
								| и настройки

						.dropdown-list
							.dropdown-list__item
								a(href='#').dropdown-list__link
									| Пользователь

							.dropdown-list__item._active
								a(href='#').dropdown-list__link
									| Правила пользования

							.dropdown-list__item
								a(href='#').dropdown-list__link
									| Ваш персональный менеджер

							.dropdown-list__item
								a(href='#').dropdown-list__link
									| FAQ

							.dropdown-list__item
								a(href='#').dropdown-list__link
									| Настройки

					.profile-menu__separator

					a(href='#').profile-menu__link.profile-menu__link--exit
						| Выход

	//.header-row.header-row--decoration