%btn-primary {
  @include button();
  color: white;
  background: $brand-color;
  &:hover {
    background-color: #f92a51;
  }
  &:focus {
    outline: none;
    background-color: #c21244;
  }
}

.btn-bordered {
  @include button();
  color: $brand-color;
  border: 2px solid $brand-color;
  padding-top: 17px;
  padding-bottom: 17px;
}

.btn-secondary,
.btn-flat {
  @include button();
  color: white;
  background: $bg-button;
}

.btn-sm {
  padding: 8px;
  font-size: $note-font-size;

  &._large {
    padding: 10px 30px;
  }
}

.btn-primary {
  @extend %btn-primary
}