$form-row-margin: 21px;
$form-list-item-margin: 0 0 13px 35px;
$input-font-size: 15px;

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.form-row {
  position: relative;
  margin-bottom: $form-row-margin;
  @include clearfix();
  &:last-child {
    margin-bottom: 0;
  }

  &._title {
    font-size: 17px;
  }

  ._b-indent {
    margin-bottom: $form-row-margin;
  }
  ._l-indent {
    margin-left: 30px;
  }

  &._large-indent {
    margin-bottom: 28px;
  }
  &._small-indent {
    margin-bottom: 10px;
  }
  &._left-indent {
    margin-left: 35px;
  }

  &._align-center {
    text-align: center;
    padding-left: 125px;
    padding-right: 125px;
  }

  &._show-phone-code {
    padding-left: 0px;
    padding-right: 0px;
  }

  &--sms-verification-container {
    display: none;

    ._show-phone-code & {
      display: block;
    }
  }

  &--get-phone-code {
    ._show-phone-code & {
      display: none;
    }
  }
}

.form-item {
  position: relative;

  &._label {
    width: 260px;
    padding: 19px 20px 0 0;
    float: left;

    &._no-b-indent {
      padding-top: 0;
    }
  }
  &._after-label {
    width: calc(100% - 260px);
    float: left;
  }
}

.form-row--phone {
  display: table;
  width: 100%;
}

.form-row--cabinet-connection-login {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  .form-row__title {
    display: table-row;
  }

  .form-item {
    display: table-cell;
    vertical-align: top;
  }

  .form-item--submit {
    text-align: right;
    padding-left: $form-item-padding;
  }

  .form-submit {
    min-width: 164px;
  }
}

.form-row--password-strength {
  width: 358px;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: -10px;
  .form-item {
    width: 50%;
  }
}

.form-row--submit {
  text-align: center;
}

.form-row__title {
  line-height: 1.5;
  display: inline-block;
  padding-bottom: 3px;
  padding-left: 3px;

  &._block {
    display: block;
  }
}

.form-item--number {
  width: 53%;
  display: table-cell;
  vertical-align: top;
  padding-right: 3%;
  padding-top: 9px;
  font-size: 13px;
  .form-item__title {
    font-size: 15px;
  }
  .form-item__note {
    display: inline;
    font-size: 15px;
  }
}

// Element of the form (input, textarea, select etc..)
.form-control {
  width: 100%;
  height: $input-height;
  padding: 0 19px;
  font-size: $input-font-size;
  color: #2f2f2f;
  border: 1px solid #dcdedf;
  background: $bg-light-gray;
  border-radius: $border-radius;
  &:focus {
    outline: none;
    border-color: $form-control-focus;
  }
  &._small {
    width: 359px;
  }
  &._m-small {
    width: 265px;
  }
  &._smallest {
    width: 98px;
  }
  &._number {
    padding-right: 10px;
  }
}

.form-control.parsley-error {
  border-color: $brand-color;
}

textarea.form-control {
  font-family: $base-font-family;
  padding: 19px;
  resize: none;
  width: 457px;
  height: 102px;
}

.form-controls-group {
  display: table;
  width: 100%;

  &._selects-group {
    width: 300px;

    &._double {
      width: 202px;
    }
  }
}

.select-title {
  float: left;
}
.select-with-title {
  width: 164px;
  height: 33px;
  text-align: center;
  margin-top: -8px;
  float: right;

  & .selectric .label {
    font-size: 13px;
    line-height: 33px;
    height: 33px;
    padding-right: 19px;
  }
}

.form-controls-group__item {
  display: table-cell;
  position: relative;
  .form-control {
    border-radius: 0;
    position: relative;
    left: -1px;
  }
  &:first-child {
    .form-control {
      left: 0;
      border-radius: $border-radius 0 0 $border-radius;
    }
  }

  &:last-child {
    .form-control {
      border-radius: 0 $border-radius $border-radius 0;

      ._triple & {
        left: -2px;
      }
    }
  }

  ._double & {
    width: 50%;
  }

  ._triple & {
    width: 33.3%;
  }
}

.form-controls-group__item.is-active {
  position: relative;
  z-index: 2;
}

.form-row--user-agreements {
  padding: 0 10px 14px;
  margin-bottom: 26px;
  border-bottom: 1px solid $border-color-separator;
}


.form-row--sms-verification {
  width: 100%;
  display: table;

  &__item {
    width: 40%;
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
    text-align: left;

    &-password {
      width: 157px;
      float: right;

      .form-row__title {
        display: block;
      }
      .form-control {
        margin-top: 5px;
      }
    }

    & .form-submit {
      margin-top: 5px;
    }
  }
}

.form-row--verification-troubleshooting {
  font-size: 14px;
  .links-group {
    min-width: 100%;

    &__item {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// To group form helper links
.links-group {
  display: table;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.links-group__item {
  display: table-cell;
  padding-left: 5%;
  padding-right: 5%;
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.form-submit {
  @extend %btn-primary;
  min-height: $input-height;
}

// List for elements like checkbox and radoibutton
.form-list {

}

.form-list__item {
  margin: $form-list-item-margin;
}

.form-note {
  line-height: 1.4;
  text-align: center;
} 

// Styled checkboxes
/* Base for label styling */

[type="checkbox"],
[type="radio"]{
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    cursor: pointer;
  }
  &:not(:checked) + label:before, &:checked + label:before {
    content: '';
    position: absolute;
    left: -35px;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: $main-bg-color;
  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: -32px;
    font-size: 14px;
    line-height: 0.8;
    color: $brand-color;
    transition: all $transition-time;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &:disabled {
    &:not(:checked) + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    &:checked + label {
      &:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      &:after {
        color: #999;
      }
    }
    + label {
      color: #aaa;
    }
  }
}

[type="radio"]{
  &:not(:checked) + label:before, &:checked + label:before {
    border-radius: $border-radius-round;
    top: -1px;
  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -31px;
    width: 8px;
    height: 8px;
    background: $bg-button;
    border-radius: $border-radius-round;
  }
}

.parsley-errors-list {
  position: relative;
  left: 0;
  color: $brand-color;
  font-size: $note-font-size;
}

.password-strength-scale {
  overflow: hidden;
  position: relative;
  top: -2px;
}

.password-strength-scale__degree {
  width: 19%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  float: left;
  height: 3px;
  background: $bg-gray;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  .is30,
  .is30 & {
    &:nth-child(-n+2) {
      background: $form-control-focus;
    }
  }

  .is40 &,
  .is50 &{
    &:nth-child(-n+3) {
      background: $form-control-focus;
    }
  }

  .is60 &,
  .is70 & {
    &:nth-child(-n+4) {
      background: $form-control-focus;
    }
  }

  .is80 &,
  .is100 & {
    &:nth-child(-n+5) {
      background: $form-control-focus;
    }
  }
}

.form-row--items {
  .form-item {
    display: table-cell;
    vertical-align: top;
    padding-right: $form-item-padding;
    &:last-child {
      padding-right: 0;
    }
  }

  .form-item--submit {
    padding-top: 21px;
  }
}

.form-item__title {
  display: inline-block;
  font-size: 15px;
  padding-bottom: 4px;
}





$selectric-main-color:      $border-color-separator !default;                                              // Color used in border
$selectric-secondary-color: #2c2c2c !default;                                           // Color used in button
$selectric-text-color:      #2f2f2f !default;                                           // Color used in label
$selectric-bg-color:        #f9f9fa !default;                                           // Background color
$selectric-btn-bg-color:    #f9f9fa !default;                                           // Button background color
$selectric-height:          40px !default;                                              // Outer height
$selectric-spacing:         10px !default;                                              // Label left padding
$selectric-border-width:    1px !default;                                               // Outer border width
$selectric-border-radius:   0px !default;                                               // Border radius
$selectric-inner-height:    $selectric-height - ($selectric-border-width * 2) !default; // Inner height
$selectric-font-size:       12px !default;                                              // Font size

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid $border-color-separator;
  border-radius: $border-radius;
  background: $selectric-bg-color;
  position: relative;
  overflow: hidden;

  .label {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 49px 0 19px;
    font-size: $base-font-size;
    line-height: $input-height;
    height: $input-height;
    user-select: none;
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: $selectric-inner-height;
    height: 100%;
    line-height: $selectric-inner-height;
    background-color: $selectric-btn-bg-color;
    color: $selectric-secondary-color;
    text-align: center;
    font: 0/0 a;
    *font: 20px/#{$selectric-inner-height} Lucida Sans Unicode, Arial Unicode MS, Arial;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top-color: $selectric-secondary-color;
      border-bottom: none;
    }
  }

  ._selects-group .form-controls-group__item:first-child & {
    left: 0;
    border-radius: $border-radius 0 0 $border-radius;
  }

  ._selects-group .form-controls-group__item:last-child & {
    border-radius: 0 $border-radius $border-radius 0;
    left: -1px;
  }

  ._selects-group._triple .form-controls-group__item:nth-child(2) & {
    left: -1px;
    border-radius: 0;
  }

  ._selects-group._triple .form-controls-group__item:last-child & {
    left: -2px;
  }
}

.selectric-focus .selectric {
  border-color: $form-control-focus;
}

.selectric-hover .selectric {

  .button {
    color: darken($selectric-secondary-color, 10%);

    &:after {
      border-top-color: darken($selectric-secondary-color, 10%);
    }
  }
}

.selectric-open {
  z-index: 9999;

  .selectric-items {
    display: block;
  }
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;

  select {
    position: absolute;
    left: -100%;
  }

  &.selectric-is-native {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      border: none;
      z-index: 1;
      box-sizing: border-box;
      opacity: 0;
    }
  }
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  border-radius: $border-radius;
  background: $selectric-bg-color;
  border: 1px solid $border-color-separator;
  z-index: -1;
  overflow: hidden;

  .selectric-scroll {
    height: 100%;
    overflow: auto;
    margin-right: -20px;
  }

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $selectric-font-size;
    line-height: 20px;
    min-height: 20px;
  }

  li {
    display: block;
    padding: 10px 19px;
    color: #000;
    cursor: pointer;

    &.selected {
      background: #efefef;
      color: #000;
    }

    &.highlighted {
      background: #dcdedf;
      color: #000;
    }

    &:hover {
      background: #efefef;
      color: #000;
    }
  }

  .disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default !important;
    background: none !important;
    color: #666 !important;
    user-select: none;
  }

  .selectric-group {
    .selectric-group-label {
      font-weight: bold;
      padding-left: 10px;
      cursor: default;
      user-select: none;
      background: none;
      color: #444;
    }

    &.disabled li {
      filter: alpha(opacity=100);
      opacity: 1;
    }

    li {
      padding-left: 25px;
    }
  }
}
