.header-nav {
  overflow: hidden;
  padding-top: 20px;
  padding-left: 84px;
}

.header-nav__item {
  float: left;
  font-size: 15px;
  padding: 31px 19px;
}

.header-nav__link {
  display: block;
  color: $text-color;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $brand-color;
  }

  .is-active & {
    border: 2px solid $brand-color;
    color: $brand-color;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: -8px;
  }
}

// Sliding menu (briefcase at sidebar)
$sliding-menu-padding: 30px;
.sliding-menu {
  @include section-decorated();
  list-style: none;
  margin-bottom: $sidebar-section-margin;
}

.sliding-menu__item {
  border-bottom: 1px solid $border-color;
}

.sliding-menu__item-number {
  margin-top: 10px;
  font-size: $note-font-size;
}

.sliding-menu__item-title {
  padding: 25px $sliding-menu-padding 23px;
  font-size: 26px;
  user-select: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.sliding-menu__list {
  display: none;
  padding-bottom: 14px;
  font-size: 14px;

  .sliding-menu__item.is-active & {
    display: block;
  }
}

.sliding-menu__list-item {
  padding-left: $sliding-menu-padding;
  line-height: 1.4;
  border-left: 2px solid transparent;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  &.is-active {
    border-color: $link-accent;
  }
}

.sliding-menu__list-link {
  color: $text-color;
  text-decoration: none;
  &:hover {
    color: $link-accent;
  }

  .sliding-menu__list-item.is-active & {
    color: $link-accent;
  }
}

// Profile menu (header, cabinet logged in)
.profile-menu {
  display: inline-table;
  vertical-align: top;
}

.profile-menu__separator {
  display: table-cell;
  padding-right: 22px;
}

.profile-menu__item {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.profile-menu__link {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  height: 24px;
  position: relative;
  padding-left: 28px;
  color: $text-color;
  font-size: 13px;
  text-align: left;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
  }

  &.is-active {
    color: $link-accent;
    a {
      color: $link-accent;
    }
  }

  &:hover {
    color: $link-accent;
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.profile-menu__link.is-hover,
.profile-menu__link:hover{
  overflow: visible;
  .dropdown-list {
    opacity: 1;
  }
}
.profile-menu__link--reports {
  padding-left: 28px;
  &::before {
    width: 18px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-reports.png) no-repeat top center;
    background-size: cover;
  }
}

.profile-menu__link--notifications {
  padding-left: 28px;
  &::after {
    content: attr(data-notifications-counter);
    display: inline-block;
    vertical-align: top;
    position: absolute;
    padding: 3px 4px;
    top: 0;
    right: 86px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    min-width: 10px;
    border-radius: 50px;
    background: $brand-color;
  }

  &::before {
    width: 22px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-alarm.png) no-repeat top center;
    background-size: cover;
  }
}

.profile-menu__link--settings {
  padding-left: 32px;
  &::before {
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-settings.png) no-repeat top center;
    background-size: cover;
  }
}

.profile-menu__link--exit::before {
  width: 19px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  background: url(../img/icons/icon-mini-logout.png) no-repeat top center;
  background-size: cover;
}

.profile-menu__link--media {
  padding-left: 33px;
  &::before {
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-media.png) no-repeat top center;
    background-size: cover;
  }
}

.profile-menu__link--faq {
  padding-left: 33px;
  &::before {
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-faq.png) no-repeat top center;
    background-size: cover;
  }
}

.profile-menu__link--chat {
  padding-left: 33px;
  &::before {
    width: 26px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    background: url(../img/icons/icon-mini-chat.png) no-repeat top center;
    background-size: cover;
  }
}

// Switcher panel
.switcher-panel {
  display: inline-table;
  width: auto;
}

.switcher-panel__item {
  display: table-cell;
  padding: 7px 13px;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  color: $text-color;
  font-size: $note-font-size;
  text-align: center;
  border: 1px solid $border-color;
  border-right: 0;
  background: $main-bg-color;
  &.is-active,
  &:hover {
    color: #fff;
    background: $bg-button;
    border-color: $bg-button;
  }

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
    border-right: 1px solid $border-color;
  }
}

.dropdown-list {
  position: absolute;
  padding-top: 15px;
  z-index: 4;
  opacity: 0;
  will-change: opacity;
  left: -11px;
  background: $main-bg-color;
  border-radius: $border-radius;
  transition: opacity 0.1s linear;
  .profile-menu__link--settings & {
    width: 166px;
  }
}

.dropdown-list__item {
  position: relative;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  &:first-child {
    border-top: 1px solid $border-color;
    border-radius: $border-radius $border-radius 0 0;
    &::before {
      content: "";
      position: absolute;
      background: url(../../assets/img/arrow-dropdown-menu.png) no-repeat top center;
      background-size: cover;
      background-color: #fff;
      height: 9px;
      width: 18px;
      left: 13px;
      top: -9px;
    }
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &:hover,
  &._active{
    color: #fff;
    background-color: $bg-button;
  }
}

.dropdown-list__link {
  display: block;
  padding: 9px 14px;
  color: $text-color !important;

  &:hover,
  ._active &{
    color: #fff !important;
  }
}