table.table.table--management-flow-of-funds
	tr
		th
			| Дата операции

		th
			| Тип

		th
			| Валюта

		th
			| Сумма
			span.line-break
				| операции

	tr
		td 30.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 90 000
				span.price-inline__dot-value
					| 00

	tr
		td 29.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 68 000
				span.price-inline__dot-value
					| 00

	tr
		td 28.09.2016

		td Ввод ДС

		td USD

		td
			span.price-inline
				| 20 000
				span.price-inline__dot-value
					| 00

	tr
		td 27.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 150 000
				span.price-inline__dot-value
					| 00

	tr
		td 26.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 300 000
				span.price-inline__dot-value
					| 00

	tr
		td 04.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| - 50 000
				span.price-inline__dot-value
					| 00

	tr
		td 03.09.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 77 543
				span.price-inline__dot-value
					| 00

	tr
		td 07.08.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 50 000
				span.price-inline__dot-value
					| 00

	tr
		td 11.07.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| 50 000
				span.price-inline__dot-value
					| 00

	tr
		td 14.06.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| - 150 000
				span.price-inline__dot-value
					| 00

	tr
		td 18.05.2016

		td Ввод ДС

		td RUB

		td
			span.price-inline
				| - 125 000
				span.price-inline__dot-value
					| 00

	tr
		td
			span.total
				| Итого:

		td(colspan='2')

		td
			span.price-inline
				| 480 543
				span.price-inline__dot-value
					| 00


