table.table.table--fund-details
	tr
		th Дата проведения операции

		th Тип операции

		th Количество паев, шт.

		th Цена одного пая, руб.

		th Сумма операции, руб.

		th Фонд на паи которого произведен обмен

		th Количество паев при операции обмена

	tr
		td 10.07.2013

		td Приобретение

		td
			span.price-inline
				| 177
				span.price-inline__dot-value
					| 6593382

		td
			span.price-inline
				| 1 125
				span.price-inline__dot-value
					| 75

		td
			span.price-inline
				| - 200 000
				span.price-inline__dot-value
					| 00

		td

		td

	tr
		td 10.08.2013

		td Приобретение

		td
			span.price-inline
				| 50
				span.price-inline__dot-value
					| 0000000

		td
			span.price-inline
				| 2 000
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| - 100 000
				span.price-inline__dot-value
					| 00

		td

		td

	tr
		td 10.03.2013

		td Обмен

		td
			span.price-inline
				| -177
				span.price-inline__dot-value
					| 6593382

		td
			span.price-inline
				| 1 200
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 213 191
				span.price-inline__dot-value
					| 21

		td Ингосстрах акции

		td
			span.price-inline
				| 194
				span.price-inline__dot-value
					| 4767119

	tr
		td 10.07.2015

		td Погашение

		td
			span.price-inline
				| -50
				span.price-inline__dot-value
					| 0000000

		td
			span.price-inline
				| 3 000
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 150 000
				span.price-inline__dot-value
					| 00

		td

		td
