table.table.table--fund-details.table-center
	tr
		th Дата приобретения

		th Стоимость паев приобретения, руб.

		th Количество приобретенных паев, шт.

		th Цена приобретения 1 пая, руб.

		th Текущая оценка, руб.

		th Кол-во дней владения

		th Прирост активов, руб.

	tr
		td 16.12.2014

		td
			span.price-inline
				| 40 000
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 35
				span.price-inline__dot-value
					| 3331920

		td
			span.price-inline
				| 1 132
				span.price-inline__dot-value
					| 08

		td
			span.price-inline
				| 61 818
				span.price-inline__dot-value
					| 25

		td
			span.price-inline
				| 770

		td
			span.price-inline
				| 21 818
				span.price-inline__dot-value
					| 25

	tr
		td 27.01.2015

		td
			span.price-inline
				| 40 000
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 29
				span.price-inline__dot-value
					| 0320005

		td
			span.price-inline
				| 1 377
				span.price-inline__dot-value
					| 79

		td
			span.price-inline
				| 50 793
				span.price-inline__dot-value
					| 81

		td
			span.price-inline
				| 728

		td
			span.price-inline
				| 10 793
				span.price-inline__dot-value
					| 81

	tr
		td 27.10.2015

		td
			span.price-inline
				| 40 000
				span.price-inline__dot-value
					| 00

		td
			span.price-inline
				| 24
				span.price-inline__dot-value
					| 5650452

		td
			span.price-inline
				| 1 628
				span.price-inline__dot-value
					| 33

		td
			span.price-inline
				| 42 978
				span.price-inline__dot-value
					| 51

		td
			span.price-inline
				| 455

		td
			span.price-inline
				| 2 978
				span.price-inline__dot-value
					| 51

	tr
		td

		td
			span.price-inline
				| 120 000
				span.price-inline__dot-value
					| 00

		td

		td

		td
			span.price-inline
				| 155 590
				span.price-inline__dot-value
					| 57

		td

		td
			span.price-inline
				| 35 590
				span.price-inline__dot-value
					| 57
