table.table.table-management-structure._portfolio
	thead
		tr
			th Финансовый инструмент
			th ISIN
			th Код финансового инструмента
			th Тип вложения
			th Количество
			th
				| Балансовая стоимость, руб.
				span
			th в том числе переоценка, руб.
			th Процент от всего по бал. ст-ти
			th Дата котировки
			th
				| Текущая оценка 1 бумаги RUR
				span
			th
				| Текущая оценка RUR
				span
			th Процент от всего по оценке
			th Дата погашения (оферты)

	tbody

		tr
			td.title 4B02-01-36193-R Элемент Лизинг БО-04
			td RU000A0JWCN6
			td Элемент Лизинг БО-04
			td Облигация
			td 1563
			td
				span.price-inline.title
					| 1 548 615
					span.price-inline__dot-value.title
						| 95
			td –
			td
				span.price-inline
					| 5
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 59%
			td 01.12.2016
			td
				span.price-inline
					| 994
					span.price-inline__dot-value
						| 90
			td
				span.price-inline
					| 1 555 028
					span.price-inline__dot-value
						| 70
			td
				span.price-inline
					| 4
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 78%
			td.title 11.04.2017

		tr
			td.title 4B02-01-36193-R Элемент Лизинг БО-04; НКД
			td RU000A0JWCN6
			td Элемент Лизинг БО-04
			td Купон
			td –
			td –
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td 01.12.2016
			td
				span.price-inline
					| 23
					span.price-inline__dot-value
						| 04
			td
				span.price-inline
					| 36 011
					span.price-inline__dot-value
						| 52
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 11%
			td.title 03.01.2017

		tr
			td.sum.sum_left-border(colspan='5')
				| по всем облигациям предприятий и организаций (кроме
				| ипотечных)
			td.sum
				span.price-inline
					| 27 323 050
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 62
			td.sum
			td.sum
				span.price-inline
					| 98
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 58%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 32 114 130
					span.price-inline__dot-value
						| 50
			td.sum
				span.price-inline
					| 98
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 78%
			td.sum.sum_right-border

		tr
			td.title Деньги у брокера, р/с 30601810100001016021 (RUB)
			td
			td
			td Деньги
			td
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td
				span.price-inline.title
					| 95
					span.price-inline__dot-value.title
						| 25
			td
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td
			td
			td
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td

		tr
			td.sum.sum_left-border(colspan='5') по всем денежным стредствам у брокера
			td.sum
				span.price-inline
					| 95
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 25
			td.sum
			td.sum
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td.sum
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_right-border

		tr
			td.title р/с 40701810600010000025 (RUB) в Банк СОЮЗ (АО)
			td
			td
			td Деньги
			td
				span.price-inline
					| 5 892
					span.price-inline__dot-value
						| 80
			td
				span.price-inline.title
					| 382 707
					span.price-inline__dot-value.title
						| 31
			td
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 38%
			td 01.12.2016
			td
			td
				span.price-inline
					| 384 435
					span.price-inline__dot-value
						| 66
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 18%
			td

		tr
			td.sum.sum_left-border(colspan='5') по всем прочим вложениям
			td.sum
				span.price-inline
					| 393 224
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 56
			td.sum
			td.sum
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 42%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 394 952
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 91
			td.sum
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 21%
			td.sum.sum_right-border
	tfoot
		tr
			td.sum.sum_left-border.sum_top-bottom-border
			td.sum.sum_top-bottom-border.total(colspan='2') по всем вложениям:
			td.sum.sum_top-bottom-border.total(colspan='2')
			td.sum.sum_top-bottom-border
				span.price-inline
					| 27 716 370
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 43
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
				span.price-inline
					| 100
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
				span.price-inline
					| 32 509 178
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 66
			td.sum.sum_top-bottom-border
				span.price-inline
					| 100
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_right-border.sum_top-bottom-border
