table
	tr
		td(colspan='2')
			| Назначение платежа для банковского перевода:

	tr
		td Получатель

		td ООО УК «Ингосстрах-Инвестиции»

	tr
		td ИНН:

		td

	tr
		td КПП:

		td

	tr
		td Банк получателя

		td

	tr
		td БИК:

		td

	tr
		td Расчетный счет:

		td 4070180102750000021

	tr
		td Назначение платежа:

		td Оплата инвестиционных паев ОПИФ фондов «ИИ» от Ковалев Сергей Алексеевич по заявке №57.1275001.040 от 20.04.2016 г.