table.table.table-management-structure
	thead
		tr
			th Финансовый инструмент
			th ISIN
			th Код финансового инструмента
			th Тип вложения
			th Количество
			th
				| Балансовая стоимость, руб.
				span
			th в том числе переоценка, руб.
			th Процент от всего по бал. ст-ти
			th Дата котировки
			th
				| Текущая оценка 1 бумаги RUR
				span
			th
				| Текущая оценка RUR
				span
			th Процент от всего по оценке
			th Дата погашения (оферты)

	tbody
		tr
			td.title Нота 2Y Quanto Autocall-Phoenix Note on VXX
			td XS1472733986
			td XS1472733986
			td Облигация
			td 5
			td
				span.price-inline.title
					| 324 845
					span.price-inline__dot-value.title
						| 36
			td –
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 17%
			td
			td
				span.price-inline
					| 62 257
					span.price-inline__dot-value
						|77
			td
				span.price-inline
					| 326 288
					span.price-inline__dot-value
						| 86
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.title 13.08.2018

		tr
			td.title EFGPH CH0279928714 - нота
			td CH0279928714
			td EFGPH CH0279928714
			td Облигация
			td 200
			td
				span.price-inline.title
					| 10 693 604
					span.price-inline__dot-value.title
						| 13
			td –
			td
				span.price-inline
					| 38
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 58%
			td
			td
				span.price-inline
					| 65 270
					span.price-inline__dot-value
						| 82
			td
				span.price-inline
					| 13 054 163
					span.price-inline__dot-value
						| 82
			td
				span.price-inline
					| 40
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 16%
			td.title 04.06.2018

		tr
			td.title EFGPH CH0279928714 - нота
			td CH0279928714
			td EFGPH CH0279928714
			td Расчеты
			td –
			td
				span.price-inline.title
					| 812 589
					span.price-inline__dot-value.title
						| 94
			td –
			td
				span.price-inline
					| 2
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 93%
			td
			td
			td
				span.price-inline
					| 816 259
					span.price-inline__dot-value
						| 71
			td
				span.price-inline
					| 2
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 51%
			td.title 04.06.2018

		tr
			td.title EFGPH CH0279928714 - нота; НКД
			td CH0279928714
			td EFGPH CH0279928714
			td Купон
			td –
			td –
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td 01.12.2016
			td
				span.price-inline
					| 45
					span.price-inline__dot-value
						| 34
			td
				span.price-inline
					| 9 068
					span.price-inline__dot-value
						| 11
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 03%
			td.title 27.02.2017

		tr
			td.title VTB Eurasia Limited XS0810596832
			td XS0810596832
			td VTB Eurasia Limited XS0810596832
			td Облигация
			td 223
			td
				span.price-inline.title
					| 13 842 999
					span.price-inline__dot-value.title
						| 59
			td –
			td
				span.price-inline
					| 49
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 95%
			td 01.12.2016
			td
				span.price-inline
					| 69 694
					span.price-inline__dot-value
						| 62
			td
				span.price-inline
					| 15 541 900
					span.price-inline__dot-value
						| 58
			td
				span.price-inline
					| 47
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 81%
			td.title 06.12.2022

		tr
			td.title VTB Eurasia Limited XS0810596832; НКД
			td XS0810596832
			td VTB Eurasia Limited XS0810596832
			td Купон
			td –
			td –
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td 01.12.2016
			td
				span.price-inline
					| 3 012
					span.price-inline__dot-value
						| 82
			td
				span.price-inline
					| 671 840
					span.price-inline__dot-value
						| 20
			td
				span.price-inline
					| 2
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 07%
			td.title 06.12.2016

		tr
			td.title 4B02-01-20075-F РУСАЛ Братск БО-01
			td RU000A0JWDN6
			td РУСАЛ Братск БО-01
			td Облигация
			td 100
			td
				span.price-inline.title
					| 100 395
					span.price-inline__dot-value.title
						| 09
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 36%
			td 01.12.2016
			td
				span.price-inline
					| 1 020
					span.price-inline__dot-value
						| 20
			td
				span.price-inline
					| 102 020
					span.price-inline__dot-value
						| 00
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 31%
			td.title 18.04.2019

		tr
			td.title 4B02-01-20075-F РУСАЛ Братск БО-01; НКД
			td RU000A0JWDN6
			td РУСАЛ Братск БО-01
			td Купон
			td –
			td –
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td 01.12.2016
			td
				span.price-inline
					| 15
					span.price-inline__dot-value
						| 49
			td
				span.price-inline
					| 1 549
					span.price-inline__dot-value
						| 00
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.title 18.04.2017

		tr
			td.title 4B02-01-36193-R Элемент Лизинг БО-04
			td RU000A0JWCN6
			td Элемент Лизинг БО-04
			td Облигация
			td 1563
			td
				span.price-inline.title
					| 1 548 615
					span.price-inline__dot-value.title
						| 95
			td –
			td
				span.price-inline
					| 5
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 59%
			td 01.12.2016
			td
				span.price-inline
					| 994
					span.price-inline__dot-value
						| 90
			td
				span.price-inline
					| 1 555 028
					span.price-inline__dot-value
						| 70
			td
				span.price-inline
					| 4
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 78%
			td.title 11.04.2017

		tr
			td.title 4B02-01-36193-R Элемент Лизинг БО-04; НКД
			td RU000A0JWCN6
			td Элемент Лизинг БО-04
			td Купон
			td –
			td –
			td –
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td 01.12.2016
			td
				span.price-inline
					| 23
					span.price-inline__dot-value
						| 04
			td
				span.price-inline
					| 36 011
					span.price-inline__dot-value
						| 52
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 11%
			td.title 03.01.2017

		tr
			td.sum.sum_left-border(colspan='5')
				| по всем облигациям предприятий и организаций (кроме
				| ипотечных)
			td.sum
				span.price-inline
					| 27 323 050
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 62
			td.sum
			td.sum
				span.price-inline
					| 98
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 58%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 32 114 130
					span.price-inline__dot-value
						| 50
			td.sum
				span.price-inline
					| 98
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 78%
			td.sum.sum_right-border

		tr
			td.title Деньги у брокера, р/с 30601810100001016021 (RUB)
			td
			td
			td Деньги
			td
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td
				span.price-inline.title
					| 95
					span.price-inline__dot-value.title
						| 25
			td
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td
			td
			td
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td

		tr
			td.sum.sum_left-border(colspan='5') по всем денежным стредствам у брокера
			td.sum
				span.price-inline
					| 95
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 25
			td.sum
			td.sum
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 95
					span.price-inline__dot-value
						| 25
			td.sum
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_right-border

		tr
			td.title р/с 407018108000000028886 (RUB) в Банк ГПБ (АО)
			td
			td
			td Деньги
			td
				span.price-inline
					| 7 858
					span.price-inline__dot-value
						| 25
			td
				span.price-inline.title
					| 7 858
					span.price-inline__dot-value.title
						| 25
			td
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 03%
			td
			td
			td
				span.price-inline
					| 7 858
					span.price-inline__dot-value
						| 25
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 02%
			td
		tr
			td.title р/с 40701810600010000025 (RUB) в Банк СОЮЗ (АО)
			td
			td
			td Деньги
			td
				span.price-inline
					| 2 659
			td
				span.price-inline.title
					| 2 659
					span.price-inline__dot-value.title
						| 00
			td
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 01%
			td
			td
			td
				span.price-inline
					| 2 659
					span.price-inline__dot-value
						| 00
			td
				span.price-inline
					| 0
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 01%
			td

		tr
			td.title р/с 40701810600010000025 (RUB) в Банк СОЮЗ (АО)
			td
			td
			td Деньги
			td
				span.price-inline
					| 5 892
					span.price-inline__dot-value
						| 80
			td
				span.price-inline.title
					| 382 707
					span.price-inline__dot-value.title
						| 31
			td
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 38%
			td 01.12.2016
			td
			td
				span.price-inline
					| 384 435
					span.price-inline__dot-value
						| 66
			td
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 18%
			td

		tr
			td.sum.sum_left-border(colspan='5') по всем прочим вложениям
			td.sum
				span.price-inline
					| 393 224
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 56
			td.sum
			td.sum
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 42%
			td.sum
			td.sum
			td.sum
				span.price-inline
					| 394 952
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 91
			td.sum
				span.price-inline
					| 1
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 21%
			td.sum.sum_right-border
	tfoot
		tr
			td.sum.sum_left-border.sum_top-bottom-border
			td.sum.sum_top-bottom-border.total(colspan='2') по всем вложениям:
			td.sum.sum_top-bottom-border.total(colspan='2')
			td.sum.sum_top-bottom-border
				span.price-inline
					| 27 716 370
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 43
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
				span.price-inline
					| 100
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
			td.sum.sum_top-bottom-border
				span.price-inline
					| 32 509 178
					span.price-inline__dot-value.price-inline__dot-value--sum
						| 66
			td.sum.sum_top-bottom-border
				span.price-inline
					| 100
					span.price-inline__dot-value.price-inline__dot-value--percent
						| 00%
			td.sum.sum_right-border.sum_top-bottom-border
