table.table.table--iia-management-dealings
	thead
		tr
			th Вид сделки

			th
				| Эмитент
				span.line-break.title-second-line
					| Контрагент

			th № гос. регистрации

			th Дата сделки

			th Дата оплаты

			th Дата поставки

	tbody
		tr
			td Продажа

			td
				| VTB Eurasia Limited
				span.line-break.title-second-line
					| Atonline Limited
			td
				| XS000000000
			td
				| 01.11.2016
			td
				| 02.11.2016
			td
				| 01.11.2016

		tr
			td Покупка

			td
				| Нота 2Y Quanto Autocall-
				| Phoenix Note on VXX
				span.line-break.title-second-line
					| Veles International Limited
			td
				| 1-01-04715-А
			td
				| 11.08.2016
			td
				| 12.08.2016
			td
				| 12.08.2016

		tr
			td Покупка

			td
				| Элемент Лизинг БО-04
				span.line-break.title-second-line
					|ЗАО «ФБ ММВБ»
			td
				| 4B02-04-36193-R
			td
				| 14.07.2016
			td
				| 14.07.2016
			td
				| 14.07.2016

		tr
			td Покупка

			td
				| МТС-АОО
				span.line-break.title-second-line
					| ЗАО «ФБ ММВБ»
			td
				| 1-01-04715-А
			td
				| 22.06.2016
			td
				| 24.06.2016
			td
				| 24.06.2016
