table.table
	thead
		tr
			th
				| Номер&nbsp;
				span.line-break
					| и дата сделки

			th
				| Эмитент (выпуск),
				span.line-break
					| номер гос. рег.

			th
				| Вид сделки
				span.line-break
					| (род сделки)

			th
				| Вид сделки
				span.line-break
					| Контрагент

	tbody
		tr
			td

			td

			td

			td