table.table.table--management-yeld-of-currency-part
	thead
		tr
			th Тип ЦБ

			th Наименование

			th ISIN

			th Средне&mdash;
				span.line-break
					|инвестированная сумма

			th Текущая оценка

			th Доход, RUB

	tbody
		tr
			td Облигация

			td ОФЗ 26207

			td RU000AOJS3W6

			td
				span.price-inline
					| 379 423
					span.price-inline__dot-value
						| 17

			td
				span.price-inline
					| 423 300
					span.price-inline__dot-value
						| 41

			td
				span.price-inline
					| 51 406
					span.price-inline__dot-value
						| 24

		tr
			td Облигация

			td ДВМП (FESCO), БО 2

			td RU000A0JTY24

			td
				span.price-inline
					| 409 248
					span.price-inline__dot-value
						| 26

			td
				span.price-inline
					| 308 035
					span.price-inline__dot-value
						| 00

			td
				span.price-inline
					| -73 525
					span.price-inline__dot-value
						| 00

		tr
			td Облигация

			td ФК ОТКРЫТИЕ, 02

			td RU000A0JS264

			td
				span.price-inline
					| 126 066
					span.price-inline__dot-value
						| 98

			td
				span.price-inline
					| 0
					span.price-inline__dot-value
						| 00

			td
				span.price-inline
					| 9 022
					span.price-inline__dot-value
						| 20

		tr
			td Облигация

			td Элемент Лизинг, БО-03

			td RU000A0JUN08

			td
				span.price-inline
					| 820 617
					span.price-inline__dot-value
						| 29

			td
				span.price-inline
					| 1 749 860
					span.price-inline__dot-value
						| 00

			td
				span.price-inline
					| 78 184
					span.price-inline__dot-value
						| 08

		tr
			td Облигация

			td ОткрФКББ04

			td RU000A0JUGW4

			td
				span.price-inline
					| 3 897 693
					span.price-inline__dot-value
						| 59

			td
				span.price-inline
					| 4 152 986
					span.price-inline__dot-value
						| 22

			td
				span.price-inline
					| 266 324
					span.price-inline__dot-value
						| 65

		tr
			td Облигация

			td СУЭК Финанс 05 обл

			td RU000A0JU336

			td
				span.price-inline
					| 2 262 344
					span.price-inline__dot-value
						| 34

			td
				span.price-inline
					| 2 372 093
					span.price-inline__dot-value
						| 16

			td
				span.price-inline
					| 155 674
					span.price-inline__dot-value
						| 60

		tr
			td Облигация

			td ДельтаКредит 11 ИП

			td RU000A0JTT62

			td
				span.price-inline
					| 841 945
					span.price-inline__dot-value
						| 66

			td
				span.price-inline
					| 0
					span.price-inline__dot-value
						| 00

			td
				span.price-inline
					| 52 305
					span.price-inline__dot-value
						| 50

		tr
			td Облигация

			td Элемент Лизинг, БО-04

			td RU000A0JWC66

			td
				span.price-inline
					| 2 037
					span.price-inline__dot-value
						| 26

			td
				span.price-inline
					| 126 885
					span.price-inline__dot-value
						| 12

			td
				span.price-inline
					| 114
					span.price-inline__dot-value
						| 12

		tr
			td.total(colspan='3') Итого:

			td
				span.price-inline
					| 8 739 376
					span.price-inline__dot-value
						| 55

			td
				span.price-inline
					| 9 133 159
					span.price-inline__dot-value
						| 91

			td
				span.price-inline
					| 539 506
					span.price-inline__dot-value
						| 55