table.table.table--management-yeld-of-currency-part
	thead
		tr
			th Тип ЦБ

			th Наименование

			th ISIN

			th Средне&mdash;
				span.line-break
					| инвестированная сумма

			th Текущая оценка

			th Доход, USD

	tbody
		tr
			td Облигация

			td PSB Finance S.A.-5-2016-евро

			td XS0524658852

			td
				span.price-inline
					| 104 227
					span.price-inline__dot-value
						| 51

			td
				span.price-inline
					| 105 857
					span.price-inline__dot-value
						| 75

			td
				span.price-inline
					| 2 107
					span.price-inline__dot-value
						| 75

		tr
			td Облигация

			td VTB Eurasia Limited

			td XS0810596832

			td
				span.price-inline
					| 12 270
					span.price-inline__dot-value
						| 76

			td
				span.price-inline
					| 13 939
					span.price-inline__dot-value
						| 52

			td
				span.price-inline
					| 2 272
					span.price-inline__dot-value
						| 75

		tr
			td Облигация

			td PSB Finance S.S.-2019

			td XS0851672435

			td
				span.price-inline
					| 15 521
					span.price-inline__dot-value
						| 26

			td
				span.price-inline
					| 108 346
					span.price-inline__dot-value
						| 48

			td
				span.price-inline
					| 3 577
					span.price-inline__dot-value
						| 98

		tr
			td.total(colspan='3') Итого:

			td
				span.price-inline
					| 132 019
					span.price-inline__dot-value
						| 53

			td
				span.price-inline
					| 228 143
					span.price-inline__dot-value
						| 74

			td
				span.price-inline
					| 7 958
					span.price-inline__dot-value
						| 48