table.table.table--incoming-coupons
	tr
		th

		th
			| Начисление

	tr
		td
			| Комиссия брокера (посредника)

		td
			span.price-inline
				| 333
				span.price-inline__dot-value
					| 51

			|  (в том числе НДС&nbsp;
			span
				| 50
				span.price-inline__dot-value
					| 87
				| ) RUB

	tr
		td
			| Комиссия биржи (торговой системы)

		td
			span.price-inline
				| 264
				span.price-inline__dot-value
					| 14

			| (в том числе НДС&nbsp;
			span.price-inline
				| 40
				span.price-inline__dot-value
					| 29
				| ) RUB

	tr
		td
			| Комиссия депозитария (регистратора)

		td.column-2
			span.price-inline
				| 3 324
				span.price-inline__dot-value
					| 76

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 507
				span.price-inline__dot-value
					| 17
				| ) RUB

	tr
		td
			| Комиссия банка

		td
			span.price-inline
				| 1 412
				span.price-inline__dot-value
					| 87

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 215
				span.price-inline__dot-value
					| 52
				| ) RUB

	tr
		td
			| Вознаграждение доверительного управляющего за управление

		td
			span.price-inline
				| 28 687
				span.price-inline__dot-value
					| 20

			|  (в том числе НДС&nbsp;
			span.price-inline
				| 24 376
				span.price-inline__dot-value
					| 01
				| ) RUB

	tr
		td
			| Расчеты с бюджетом по НДФЛ

		td
			span.price-inline
				| 4 331
				span.price-inline__dot-value
					| 00