table.table.table--unit-trust-bids.table-center
	tr
		th
			| Стоимость паев
			span.line-break
				| приобретения,
			span.line-break
				| руб.

		th
			| Количество
			span.line-break
				| приобретенных
			span.line-break
				| паев, шт.

		th
			| Текущая оценка
			span.line-break
				| 1 пая, руб.

		th
			| Текущая оценка,
			span.line-break
				| руб.

		th
			| Прирост
			span.line-break
				| активов, руб.

		th
			| Прирост
			span.line-break
				| активов, %
		th
			| Прирост
			span.line-break
				| активов,
			span.line-break
				| % годовых
	tr
		td(colspan='7')._no-border
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Облигации»

	tr
		td
			| 599 302
			span.price-inline__dot-value
				| .53

		td
			| 330
			span.price-inline__dot-value
				| .3660177

		td
			| 2 733
			span.price-inline__dot-value
				| .86

		td
			| 903 174
			span.price-inline__dot-value
				| .44

		td
			| 303 871
			span.price-inline__dot-value
				| .91

		td
			| 50
			span.price-inline__dot-value
				| .70

		td
			| 11
			span.price-inline__dot-value
				| .16

	tr
		td(colspan='7')._no-border
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Сбалансированный»

	tr
		td
			| 599 302
			span.price-inline__dot-value
				| .53

		td
			| 330
			span.price-inline__dot-value
				| .3660177

		td
			| 2 733
			span.price-inline__dot-value
				| .86

		td
			| 903 174
			span.price-inline__dot-value
				| .44

		td
			| 303 871
			span.price-inline__dot-value
				| .91

		td
			| 50
			span.price-inline__dot-value
				| .70

		td
			| 11
			span.price-inline__dot-value
				| .16


	tr
		td(colspan='7')._no-border
			| Паевый инвестиционный фонд:&nbsp;
			strong
				| «Ингосстрах. Риэл-Эстейт»

	tr
		td
			| 599 302
			span.price-inline__dot-value
				| .53

		td
			| 330
			span.price-inline__dot-value
				| .3660177

		td
			| 2 733
			span.price-inline__dot-value
				| .86

		td
			| 903 174
			span.price-inline__dot-value
				| .44

		td
			| 303 871
			span.price-inline__dot-value
				| .91

		td
			| 50
			span.price-inline__dot-value
				| .70

		td
			| 11
			span.price-inline__dot-value
				| .16

	tr
		td(colspan='7')._no-border
			strong
				| ИТОГО по всем фондам

	tr
		td
			| 599 302
			span.price-inline__dot-value
				| .53

		td
			| 330
			span.price-inline__dot-value
				| .3660177

		td
			| 2 733
			span.price-inline__dot-value
				| .86

		td
			| 903 174
			span.price-inline__dot-value
				| .44

		td
			| 303 871
			span.price-inline__dot-value
				| .91

		td
			| 50
			span.price-inline__dot-value
				| .70

		td
			| 11
			span.price-inline__dot-value
				| .16