table.table.table--unit-trust-coupons.table--unit-trust-coupons-payment-schedule.table--unit-trust-coupons-payment-further
    tr
        th Актив

        th Валюта

        th Ставка купона,&nbsp;
            span.line-break
                | % годовых

        th Количество бумаг

        th Сумма купона

        th Сумма выплаты

    tr
        td Номос-Банк
            span.line-break.subtitle
                | XS0776121062

        td USD

        td
            span.price-inline
                | 10
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 200

        td
            span.price-inline
                | 10 000
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 2 000 000
                span.price-inline__dot-value
                    | 00

    tr
        td Российские железные дороги БО-03

        td RUB

        td
            span.price-inline
                | 11
                span.price-inline__dot-value
                    | 75

        td
            span.price-inline
                | 2 187

        td
            span.price-inline
                | 58
                span.price-inline__dot-value
                    | 59

        td
            span.price-inline
                | 128 136
                span.price-inline__dot-value
                    | 33

    tr
        td ВТБ
            span.line-break.subtitle
                | XS0810596832

        td USD

        td
            span.price-inline
                | 19
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 400

        td
            span.price-inline
                | 19 000
                span.price-inline__dot-value
                    | 00

        td
            span.price-inline
                | 7 600 000
                span.price-inline__dot-value
                    | 33

    tr
        td ЕвразХолдинг Финанс
            span.line-break
                | 001P-01R

        td RUB

        td
            span.price-inline
                | 12
                span.price-inline__dot-value
                    | 60

        td
            span.price-inline
                | 1 121

        td
            span.price-inline
                | 62
                span.price-inline__dot-value
                    | 83

        td
            span.price-inline
                | 70 432
                span.price-inline__dot-value
                    | 43


