table.table.table--unit-trust-bids.table-center
	tr
		th
			| Количество
			span.line-break
				| купленных
			span.line-break
				| паев, шт.

		th
			| Количество
			span.line-break
				| проданных
			span.line-break
				| паев, шт.

		th
			| Садьдо шт.

		th
			| Поступило
			span.line-break
				| в ПИФ, руб.

		th
			| Стоимость
			span.line-break
				| погашенных
			span.line-break
				| паев, руб.

		th
			| Текущая стоимость оставшихся паев, руб.

		th
			| Сальдо, руб.
	tr
		td(colspan='7')._no-border
			strong Паевый инвестиционный фонд: «Ингосстрах. Еврооблигации»

	tr
		td
			| 344.4756487

		td
			| -250
			span.price-inline__dot-value
				| 0000000

		td
			| 94
			span.price-inline__dot-value
				|4756487

		td
			| -400 000
			span.price-inline__dot-value
				| 00

		td
			| 281 723
			span.price-inline__dot-value
				| 24

		td
			| -167 835
			span.price-inline__dot-value
				| 99

		td
			| -286 112
			span.price-inline__dot-value
				| 75

	tr
		td(colspan='7')._no-border
			strong Паевый инвестиционный фонд: «Ингосстрах. Денежный рынок»

	tr
		td
			| 344.4756487

		td
			| -250
			span.price-inline__dot-value
				| 0000000

		td
			| 94
			span.price-inline__dot-value
				| 4756487

		td
			| -400 000
			span.price-inline__dot-value
				| 00

		td
			| 281 723
			span.price-inline__dot-value
				| 24

		td
			| -167 835
			span.price-inline__dot-value
				| 99

		td
			| -286 112
			span.price-inline__dot-value
				| 75

	tr
		td(colspan='7')._no-border
			strong Паевый инвестиционный фонд: «Ингосстрах. Товарно-сырьевой рынок»

	tr
		td
			| 344.4756487

		td
			| -250
			span.price-inline__dot-value
				| 0000000

		td
			| 94
			span.price-inline__dot-value
				| 4756487

		td
			| -400 000
			span.price-inline__dot-value
				| 00

		td
			| 281 723
			span.price-inline__dot-value
				| 24

		td
			| -167 835
			span.price-inline__dot-value
				| 99

		td
			| -286 112
			span.price-inline__dot-value
				| 75
