table.table.table--unit-trust-bids
	tr
		th
			| Дата заявки

		th
			| № заявки

		th
			| № лицевого счета

		th
			| Реквизиты для перечисления денежных средств в оплату паев

	tr
		td(colspan='4')
			| ПИФ:&nbsp;
			strong
				| «Ингосстрах. Облигации»

	tr
		td
			| 01.06.2015

		td
			| 22.45.01.0438.00.0200

		td
			| 910555552

		td
			span.link-print Распечатать

	tr
		td(colspan='4')
			| ПИФ:&nbsp;
			strong
				| «Ингосстрах. Сбалансированный»


