.page-header {
  margin-bottom: 30px;
  position: relative;
}


.header-row__inner {
  @extend %container;
  display: table;
  width: 100%;
  min-height: 300px;
  background: $main-bg-color url(../img/bg_header.png) no-repeat bottom center;
}

.header-row--decoration {
  height: 350px;
  background-size: cover;
}

.header__logo {
  width: 110px;
  display: table-cell;
  vertical-align: top;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__greeting {
  display: table-cell;
  vertical-align: top;
  padding: 16px 0 20px 55px;
}

.header__profile-menu {
  display: table-cell;
  vertical-align: top;
  padding-top: 12px;
  text-align: right
}

.header-greeting {
  font-size: $note-font-size;
}

.header-logged-user {
  position: absolute;
  bottom: 15px;
  left: calc(((100% - 1170px)/2) + 20px);
  color: #fff;
}

