.page-wrapper {
  background: url(../img/bg_body.png) no-repeat center bottom $main-bg-color;
}

.page-section {
  padding-top: 40px;
}

.section-title {
  font-weight: 700;
  letter-spacing: 1px;
}
.sign-in-page {
  .form-sms-verification {
    width: 380px;
    margin: 0 auto;

    .form-title {
      margin-bottom: 22px;
    }

    .form-row--sms-verification {
      margin-bottom: 40px;
    }
  }
}